.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-image: url('./fundo.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

h2 {
  color: #3141b6;
  margin-top: 20px;
  margin-bottom: 10px;
}

input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  background-color: #53335b;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

hr {
  border: 1px solid #147ae0;
  margin: 5px 0;
  width: 80%;
}

ol {
  list-style-type: decimal;
  padding-left: 0;
  width: 80%;
  margin-top: 10px;
  padding: 0; 
}

ol li {
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 12px; 
  padding: 12px 20px;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s ease-in-out; 
}

ol li:hover {
  transform: scale(1.05); 
}

ol li:last-child {
  border-bottom: none;
}

img {
  width: 280px;
}
